/* Games section 1 */
.gsec1{
    background: radial-gradient(circle, #f6af2e, #c96a32);
    color: #fff;
    padding: 5%;
    overflow: hidden;
}
.gsec1-21{
    margin: 0 5%;
}
.react-tabs__tab-list{
    display: flex;
}
.react-tabs__tab{
    border: 1px solid #c96a32 !important;
}
.tab{
    line-height: 3;
}